@model List<mvcDERS.Models.Urun>
@{
    ViewBag.Title = "UrunListe";
}

<h2>UrunListe</h2>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Resim</th>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/img/@item.resim" alt="Alternate Text" />
                    </td>
                    <td> @item.UrunAdi</td>
                    <td>@item.Fiyat</td>
                    <td>
                        <a href="~/Model/Details/@item.UrunId" class="btn btn-primary btn-xs">content</a>
                    </td>
                </tr>
            }

        </tbody>
</table>